@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.indent {
	font-family: 'Raleway';
    font-size: 7rem;
    height: 75px;
    color: cadetblue;
}

.quote-body {
	font-family: monospace, cursive;
	background-color: #f3ecd9;
	color: #3f3f5a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding: 0 0 3rem 0;
    width: 100%;
    margin: auto;
	font-family: monospace;
}

.blockquote {
	max-width: 850px;
	font-weight: 600;
	font-size: 1.1rem;
	line-height: 1;
	position: relative;
	margin: 0 !important;
	padding: .5rem;
	text-align: center;
}

.before-quote,
.after-quote {
	font-size: 2rem;
}

blockquote:before {
	position: absolute;
	content: '“';
	font-size: 5rem;
	left: -5rem;
	top: -2rem;
}

@media screen and (max-width: 680px) {
	.indent{
		font-size: 5.5rem;
		height: 65px;
	}
	.quote-body {
		width: 100%;
		padding: 0 1rem 1.5rem 1rem;
    }
    .blockquote {
		font-size: 1.0rem !important;
		padding: 0.9rem;
    }
    .before-quote,
	.after-quote {
		font-size: 1.25rem;
	}
    
}

@media screen and (max-width: 420px) {

	.indent{
		font-size: 5rem !important;
		height: 55px !important;		
	}
    
}