.image {
  height: 400px;
}
.HowOtusSection{
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* d-flex justify-content-center align-items-center flex-row */
}
.HowOtusChild1 {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HowOtusChild2 {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.header {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.header:hover a {
  display: block;
}
.Child:hover > .header, .Child:hover > .header > span{
  color: #0d6efd !important;
}
.Child:hover > .para {
  display: inline-block;
}
.para1 , .para2 {
  font-size: 0.9rem;
  color: gray;
  display: none;
}
.para1 {
  text-align: right;
  padding: 0.5rem 2rem 0 0;
}
.para2 {
  text-align: left;
  padding: 0.5rem 0 0 2rem;
}

.header1, .header2 {
  text-align: right;
}

.HowOtusSubChild1 {
  margin-top: 140px;
}
.HowOtusSubChild2 { 
  margin-top: 80px;
  
}
.HowOtusSubChild1, .HowOtusSubChild2 {
  height: 220px;
  width: 100%;
  display: flex;    
  flex-direction: column;
  padding: 0 1.5rem;
  width: 100%;
}
.HowOtusSubChild3 {
  margin-top: 60px;
}
.HowOtusSubChild4 {
  margin-top: 0px;
}
.HowOtusSubChild3, .HowOtusSubChild4 {
  height: 200px;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%; 
}
.HowOtusLogo{
  padding: 0 1rem;
  color: gray;
}

@media screen and (max-width: 750px) {
  

  .HowOtusSection {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .HowOtusChild1 {
    flex-direction: column-reverse;
    height: auto;
    width: auto;
    align-self: flex-end;
  }
  
  .HowOtusChild2 {
    flex-direction: column-reverse;
    width: auto;
    height: auto;
    align-self: flex-start;
  }
  .HowOtusSubChild1, .HowOtusSubChild2 {
    height: auto;
    margin: 15px 0;
  }
  .HowOtusSubChild3, .HowOtusSubChild4 {
    height: auto;
    margin: 15px 0;
  }
  
}
@media screen and (max-width: 520px) {

  .header{
    font-size: 1rem;
  }
  .para {
    font-size: 0.85rem;
  }
  .image {
    width: 75% !important;
    height: auto !important;
  }

}